<div data-role="page" class="league_page app_page leagueDefaultPage">
    <ng-include src="'templates/header.html'"></ng-include>
    <div data-role="content" data-theme="a">
        <div class="contentWrapper">
            <div class="topTitles long">
                <h2>{{data.league.title}}</h2>

                <div class="dates">{{data.league.sub_title}}</div>
            </div>
            <div class="league_content coloredBorder">
                <div class="description">{{data.league.description}}</div>

                <a href="#/k2/1" class="takanon"></a>

                <div class="approvedLine">
                    מלל לפי נוסח משפטי
                </div>
            </div>
        </div>
    </div>
</div>