<div data-role="page" class="topFivePage">
    <ng-include src="'templates/header.html'"></ng-include>
    <div data-role="content" data-theme="a"  class="business_data_page">
        <div class="contentWrapper">
            <div class="league_content" ng-if="data">
                <div class="month top5 ">
                    <h2 class="mainTitle">
                        <span>המוצרים המובילים</span>
                        <span class="dateElement">
                             {{data.month}}
                        </span>
                    </h2>
                </div>
                <div ng-repeat="product in data.products" class="item place_{{product.count}}">
                    <div class="numberHolder"></div>
                	<h3>{{product.name}}</h3>
                    <img src="{{base}}images/product_by_key/{{product.key}}.jpg"  />
                </div>
            </div>
			<div class="league_content" ng-if="!data">
                <div class="month top5 ">
                    <h2 class="mainTitle">
                        <span>המוצרים המובילים</span>
                    </h2>
                </div>
                <div style="padding:30px; text-align:center">
                    לא נמצאו מוצרים
                </div>
            </div>
        </div>
    </div>
</div>