<footer class="bdata_footer">
	<a ng-if="activeFooter != 'year'" class="year_doh" href="#/b_data/year" title="דוח שנתי"></a>
	<a ng-if="activeFooter == 'year'" class="year_doh active" href="#/b_data/year" title="דוח שנתי"></a>
	<a ng-if="activeFooter != 'month'" class="month_doh" href="#/b_data/month" title="דוח חודשי"></a>
	<a ng-if="activeFooter == 'month'" class="month_doh active" href="#/b_data/month" title="דוח חודשי"></a>
	<a ng-if="activeFooter != 'top_five'" class="top5" href="#/b_data/top_five" title="המוצרים המובילים"></a>
	<a ng-if="activeFooter == 'top_five'" class="top5 active" href="#/b_data/top_five" title="המוצרים המובילים"></a>
    <div class="clear"></div>
</footer>