<div data-role="page" class="yearPage">
    <ng-include src="'templates/header.html'"></ng-include>
    <div data-role="content" class="business_data_page cataloguePage" data-theme="a">
        <div class="contentWrapper">
            <h2 class="mainTitle">{{data.title}}</h2>
            <div class="catalogue_category" ng-repeat="category in data.subCategories">
            	<h3>{{category.subCategory_name}}</h3>
                <div class="catalogue_item" ng-repeat="item in category.subCategory_items">
                	<a class="imgPh" href="#/catelogue/item/{{item.id}}" style="background-image:url({{base}}{{item.img}})"></a>
					<div class="dis_table">
						<a class="item_title" href="#/catelogue/item/{{item.id}}">{{item.title}}</a>
					</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<script>
//$(".item_title").fitText(0.9, { minFontSize: 12, maxFontSize: 15 });
</script>
